<div class="items-sell-contents">
  <div class="items-sell-main">
    <h1 class="text-center mt-5">Health check</h1>
    <%= form_with model: @health, class:"text-center", local: true do |f| %>

    <%= render 'shared/error_messages', model: @health %>

    <div class="new-items">
      <div class="mt-5">
        体温
      </div>
      <%= f.text_field :body_temperature, class:"text-right form", id:"item-name", placeholder:"(半角数字で入力)", maxlength:"5" %>
      ℃
      <div class="mt-3">
          体調
        </div>
        <%= f.collection_select(:condition_id, Condition.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>
        <div class="mt-3">
        アルコール数値
      </div>
      <%= f.text_field :alcohol_level, class:"text-right form", id:"item-name", placeholder:"(半角数字で入力)", maxlength:"5" %>
      mg/L
    </div>

    <div class="sell-btn-contents">
      <%= f.submit "送信する" ,class:"btn btn-dark btn-lg mt-4" %>
    </div>
  </div>
  <% end %>
</div>