<div class="items-sell-contents">
  <div class="items-sell-main">
    <h2 class="items-sell-title">体調を入力</h2>
    <%= form_with model: @health, local: true do |f| %>

    <%# <%= render 'shared/error_messages', model: @item %> %>

    <%# 商品名と商品説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        体温
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :body_temperature, class:"items-text", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
      <div class="weight-bold-text">
          体調
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:condition_id, Condition.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>
        <div class="weight-bold-text">
        アルコール数値
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :alcohol_level, class:"items-text", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
    </div>
    <%# /商品名と商品説明 %>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "出品する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>
</div>