<h1>
  検索結果
</h1>
<% if @results.length !=0 %>
  <% @results.each do |result| %>
    <td>
    <br>
        <li>
          <%= result.body_temperature %>
          <%= result.condition.name %>
          <%= result.alcohol_level %>
          <%= l result.created_at, format: :short %>
          <%= result.user.name %>
        </li>
  <% end %>
<% else %>
  該当する情報はありません
<% end %>
<br>
<%= link_to 'トップページへ戻る', top_healths_path %>