<h1>
  体調管理検索
</h1>

<%= search_form_for @h, url: result_healths_path do |f| %>
  <%= f.label :user_name_eq, 'ユーザー名' %>
  <%= f.collection_select :user_name_eq, @user_name, :name, :name,  include_blank: '指定なし' %>
  <br>
  <%= f.label :created_at_eq, '日付' %>
  <%= f.collection_select :created_at_gteq, @health_created_at, :created_at, :created_at,  include_blank: '指定なし' %>
  〜
  <%= f.collection_select :created_at_lteq, @health_created_at, :created_at, :created_at,  include_blank: '指定なし' %>
  <br>
  <%= f.label :body_tempeature, '体温：' %>
  <%= f.radio_button :body_temperature_gteq, '' %>
  指定なし
  <%= f.radio_button :body_temperature_gteq, '37' %>
  37度以上
  <br>
  <%= f.label :condition_id, '体調：' %>
  <%= f.radio_button :condition_id_eq, '' %>
  指定なし
  <%= f.radio_button :condition_id_eq, '4' %>
  不調
  <br>
  <%= f.label :alcohol_level, 'アルコール数値：' %>
  <%= f.radio_button :alcohol_level_gteq, '' %>
  指定なし
  <%= f.radio_button :alcohol_level_gteq, '0.15' %>
  0.15度以上
  <br>
  <%= f.submit '検索' %>
<% end %>