<h1>
  検索結果
</h1>
<%# 検索結果の個数で条件分岐 %>
<% if @results.length !=0 %>
  <% @results.each do |result| %>
    <td>
    <br>
      <% result.healths.each do |health|%>
        <li>
          <%= health.body_temperature %>
          <%= health.condition.name %>
          <%= health.alcohol_level %>
          <%= health.created_at %>
          <%= health.user.name %>
        </li>
      <% end %>
  <% end %>
<% else %>
  該当する商品はありません
<% end %>
<br>
<%= link_to 'トップページへ戻る', root_path %>