<h1>Topページ</h1>

<%= link_to '検索ページ', search_healths_path %>

<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>

<%= link_to 'トップページ', root_path %>
<%= current_user.name %>
<%= Date.current.strftime('%Y年%m月%d日') %>
